@import "tailwindcss";

:root {
}

@theme inline {
  --color-primary: #FD377E;
  --color-primary-2: #E34981;
  --color-secondary: #03B898;

  --color-grey-4: #212529;
  --color-grey-3: #868E96;
  --color-grey-2: #E9ECEF;
  --color-grey-1: #F8F9FA;

  --font-sans: var(--font-nunito);

  --text-title1: 38px;
  --text-title2: 22px;
  --text-title3: 16px;
  --text-title4: 12px;
  --text-headline: 16px;
  --text-body: 12px;
}